@import url('https://fonts.googleapis.com/css?family=Biryani|Dosis|Fredoka+One');
body{
  background-color:#F6957E;
  color:black;
  
}
h1, h2, h3{
  /*font-family: 'Dosis', sans-serif;*/
  font-family: 'Fredoka One', cursive;
  font-size:5em;
  margin-top:60px;
  
}

img.logo{
  width:30%;
  margin-bottom:50px;
}

p{
  font-family: 'Biryani';
  font-size:2em;
}
input{
   font-family: 'Biryani';
   color:black;
   
}


 a, a:hover{
   color:black;
   font-family: 'Biryani';
   cursor:pointer;
   text-decoration:none;
    font-size:1.5em;
}

img.logo-bottom{
  width:20%;
  
}
.fa{
    color:white;
    
   cursor:pointer;
}

p.secondary{
  
  font-size:1.2em;
}
g,circle, svg{
  fill:white;
  text-align:center;
}

.btn, .btn-baby{
  background-color:white !important;
  color:orange;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















